<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Arionum QR Code Generator</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"/>
</head>

<body>
<section id="app" class="section">
    <div class="container is-fluid card">
        <div class="card-content">
            <h1 class="title">Arionum QR Code Generator</h1>

            <div class="columns">
                <div class="column">
                    <button class="button is-info" @click="togglePaymentRequest">
                        <span v-if="!paymentRequest">Create Request QR</span>
                        <span v-if="paymentRequest">Create Wallet QR</span>
                    </button>

                    <hr/>

                    <form v-if="!paymentRequest">
                        <div class="field">
                            <label for="walletAddress" class="label">Address</label>
                            <input class="input" id="walletAddress" v-model="wallet.address"
                                   @change="createWalletQr"/>
                        </div>

                        <div class="field">
                            <label for="walletPublicKey" class="label">Public key</label>
                            <input class="input" id="walletPublicKey" v-model="wallet.publicKey"
                                   @change="createWalletQr"/>
                        </div>

                        <div class="field">
                            <label for="walletPrivateKey" class="label">Private key</label>
                            <input class="input" id="walletPrivateKey" v-model="wallet.privateKey"
                                   @change="createWalletQr"/>
                        </div>
                    </form>

                    <form v-if="paymentRequest">
                        <div class="field">
                            <label for="requestAddress" class="label">Address</label>
                            <input class="input" id="requestAddress" v-model="request.address"
                                   @change="createRequestQr"/>
                        </div>

                        <div class="field">
                            <label for="requestValue" class="label">Payment value</label>
                            <input class="input" id="requestValue" v-model="request.value" type="number"
                                   @change="createRequestQr"/>
                        </div>

                        <div class="field">
                            <label for="requestMessage" class="label">Message</label>
                            <input class="input" id="requestMessage" v-model="request.message"
                                   @change="createRequestQr"/>
                        </div>
                    </form>

                    <hr/>

                    <div class="box">
                        <div id="generated-qr"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- External JS -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/qrcodejs@latest/qrcode.min.js"></script>

<!-- Custom JS -->
<script>
    const app = new Vue({
        el: '#app',
        data: {
            wallet: {
                address: '',
                publicKey: '',
                privateKey: ''
            },
            request: {
                address: '',
                value: '',
                message: ''
            },
            generatedQr: null,
            paymentRequest: false
        },
        mounted () {
            this.generatedQr = new QRCode('generated-qr', {correctLevel: QRCode.CorrectLevel.H})
        },
        methods: {
            createWalletQr () {
                this.generatedQr.clear()
                this.generatedQr.makeCode(`${this.wallet.address}|${this.wallet.publicKey}|${this.wallet.privateKey}`)
            },
            createRequestQr () {
                this.generatedQr.clear()
                this.generatedQr.makeCode(`arosend|${this.request.address}|${this.request.value}|${this.request.message}`)
            },
            togglePaymentRequest () {
                this.paymentRequest = !this.paymentRequest
            }
        }
    })
</script>
</body>
</html>
